.story-text {
  direction: vertical;
  gap: 10;
  margin-left: 32;
  margin-top: 28;
}

.scene-description {
  font-size: 18;
  font-family: "Literata";
  color: #f4e6ca;
  box-shadow: 1 2 0 0 #120b07e6;
  line-height: 24;
  width: 440;
}

.scene-option {
  font-size: 18;
  font-family: "Literata";
  font-weight: bold;
  color: #f8edcf;
  box-shadow: 1 2 0 0 #090604f2;
  padding: 6 0;
}

.scene-option:hover {
  color: #fff8e8;
}

.scene-options {
  direction: vertical;
  gap: 4;
  margin-right: 32;
  margin-bottom: 26;
}

.continue-option {
  font-size: 22;
}
